{
  "openapi": "3.0.0",
  "info": {
    "title": "Vincent Registry API",
    "version": "1.0.3",
    "description": "API for Vincent App, Ability, and Policy Registry"
  },
  "servers": [
    {
      "url": "https://api.heyvincent.ai"
    },
    {
      "url": "http://localhost:3000/"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Vincent-issued JWTs must be used for these endpoints."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code",
            "example": "VALIDATION_ERROR"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid input provided"
          }
        },
        "required": [
          "message"
        ]
      },
      "GenericResultMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message",
            "example": "Successfully deleted"
          }
        },
        "required": [
          "message"
        ]
      },
      "ChangeOwner": {
        "type": "object",
        "properties": {
          "authorWalletAddress": {
            "type": "string",
            "description": "New owner address",
            "example": "0x123456789012345678901234567890123456abcd"
          }
        },
        "required": [
          "authorWalletAddress"
        ]
      },
      "AppCreate": {
        "type": "object",
        "properties": {
          "deploymentStatus": {
            "type": "string",
            "enum": [
              "dev",
              "test",
              "prod"
            ],
            "default": "dev",
            "description": "Identifies if an application is in development, test, or production.",
            "example": "dev"
          },
          "contactEmail": {
            "type": "string",
            "format": "email",
            "description": "Contact email for the application manager",
            "example": "contact@example.com"
          },
          "appUrl": {
            "type": "string",
            "format": "uri",
            "description": "This should be a landing page for the app.",
            "example": "https://myapplication.example.com/"
          },
          "logo": {
            "type": "string",
            "description": "Base64 encoded logo image",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAAA5JREFUGFdj/M+ACAAAAAD//wE7AnsAAAAAAElFTkSuQmCC"
          },
          "appId": {
            "type": "number",
            "description": "Application ID",
            "example": 12345
          },
          "name": {
            "type": "string",
            "minLength": 2,
            "description": "The name of the application",
            "example": "Memecoin DCA App"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Description of the application",
            "example": "This is a memecoin DCA App."
          }
        },
        "required": [
          "appId",
          "name",
          "description"
        ],
        "additionalProperties": false
      },
      "AppEdit": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "description": "The name of the application",
            "example": "Memecoin DCA App"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Description of the application",
            "example": "This is a memecoin DCA App."
          },
          "contactEmail": {
            "type": "string",
            "format": "email",
            "description": "Contact email for the application manager",
            "example": "contact@example.com"
          },
          "appUrl": {
            "type": "string",
            "format": "uri",
            "description": "This should be a landing page for the app.",
            "example": "https://myapplication.example.com/"
          },
          "logo": {
            "type": "string",
            "description": "Base64 encoded logo image",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAAA5JREFUGFdj/M+ACAAAAAD//wE7AnsAAAAAAElFTkSuQmCC"
          },
          "deploymentStatus": {
            "type": "string",
            "enum": [
              "dev",
              "test",
              "prod"
            ],
            "description": "Identifies if an application is in development, test, or production.",
            "example": "dev"
          },
          "activeVersion": {
            "type": "number",
            "description": "Active version of the application",
            "example": 1
          }
        },
        "additionalProperties": false
      },
      "App": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was last modified"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was created"
          },
          "appId": {
            "type": "number",
            "description": "Application ID",
            "example": 12345
          },
          "activeVersion": {
            "type": "number",
            "description": "Active version of the application",
            "example": 1
          },
          "name": {
            "type": "string",
            "minLength": 2,
            "description": "The name of the application",
            "example": "Memecoin DCA App"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Description of the application",
            "example": "This is a memecoin DCA App."
          },
          "contactEmail": {
            "type": "string",
            "format": "email",
            "description": "Contact email for the application manager",
            "example": "contact@example.com"
          },
          "appUrl": {
            "type": "string",
            "format": "uri",
            "description": "This should be a landing page for the app.",
            "example": "https://myapplication.example.com/"
          },
          "logo": {
            "type": "string",
            "description": "Base64 encoded logo image",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAAA5JREFUGFdj/M+ACAAAAAD//wE7AnsAAAAAAElFTkSuQmCC"
          },
          "deploymentStatus": {
            "type": "string",
            "enum": [
              "dev",
              "test",
              "prod"
            ],
            "description": "Identifies if an application is in development, test, or production.",
            "example": "dev"
          },
          "managerAddress": {
            "type": "string",
            "description": "App manager's wallet address. Derived from the authorization signature provided by the creator.",
            "example": "0x123456789012345678901234567890123456abcd",
            "readOnly": true
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Whether or not this App is deleted",
            "example": false
          }
        },
        "required": [
          "_id",
          "updatedAt",
          "createdAt",
          "appId",
          "name",
          "description",
          "managerAddress"
        ],
        "additionalProperties": false
      },
      "AppSetActiveVersion": {
        "type": "object",
        "properties": {
          "activeVersion": {
            "type": "number",
            "description": "The version to set as active",
            "example": 2
          }
        },
        "required": [
          "activeVersion"
        ],
        "additionalProperties": false
      },
      "AppVersionCreate": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "string",
            "description": "Describes what changed between this version and the previous version.",
            "example": "I am a changelog trapped in a computer!"
          }
        },
        "additionalProperties": false
      },
      "AppVersionEdit": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "string",
            "description": "Describes what changed between this version and the previous version.",
            "example": "I am a changelog trapped in a computer!"
          }
        },
        "additionalProperties": false
      },
      "AppVersion": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was last modified"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was created"
          },
          "appId": {
            "type": "number",
            "description": "Application ID",
            "example": 12312345,
            "readOnly": true
          },
          "version": {
            "type": "number",
            "description": "App Version number",
            "example": 1,
            "readOnly": true
          },
          "changes": {
            "type": "string",
            "description": "Describes what changed between this version and the previous version.",
            "example": "I am a changelog trapped in a computer!"
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Whether or not this AppVersion is deleted",
            "example": false
          }
        },
        "required": [
          "_id",
          "updatedAt",
          "createdAt",
          "appId",
          "version"
        ],
        "additionalProperties": false
      },
      "AppVersionAbilityCreate": {
        "type": "object",
        "properties": {
          "hiddenSupportedPolicies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Policies that are supported by this ability, but are hidden from users of this app specifically",
            "example": [
              "@vincent/foo-bar-policy-1",
              "@vincent/foo-bar-policy-2"
            ]
          },
          "abilityVersion": {
            "type": "string",
            "description": "Ability version",
            "example": "1.0.0"
          }
        },
        "required": [
          "abilityVersion"
        ],
        "additionalProperties": false
      },
      "AppVersionAbilityEdit": {
        "type": "object",
        "properties": {
          "hiddenSupportedPolicies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Policies that are supported by this ability, but are hidden from users of this app specifically",
            "example": [
              "@vincent/foo-bar-policy-1",
              "@vincent/foo-bar-policy-2"
            ]
          }
        },
        "additionalProperties": false
      },
      "AppVersionAbility": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was last modified"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was created"
          },
          "appId": {
            "type": "number",
            "description": "Application ID",
            "example": 5,
            "readOnly": true
          },
          "appVersion": {
            "type": "number",
            "description": "Application version",
            "example": 2,
            "readOnly": true
          },
          "abilityPackageName": {
            "type": "string",
            "description": "Ability package name",
            "example": "@vincent/foo-bar"
          },
          "abilityVersion": {
            "type": "string",
            "description": "Ability version",
            "example": "1.0.0"
          },
          "hiddenSupportedPolicies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Policies that are supported by this ability, but are hidden from users of this app specifically",
            "example": [
              "@vincent/foo-bar-policy-1",
              "@vincent/foo-bar-policy-2"
            ]
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Whether or not this AppVersionAbility is deleted",
            "example": false
          }
        },
        "required": [
          "_id",
          "updatedAt",
          "createdAt",
          "appId",
          "appVersion",
          "abilityPackageName",
          "abilityVersion"
        ],
        "additionalProperties": false
      },
      "BatchDelegator": {
        "type": "object",
        "properties": {
          "delegatorAddress": {
            "type": "string",
            "description": "Ethereum address of the delegator (user who delegated ability to the app)",
            "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb"
          },
          "abilityParams": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            },
            "description": "Ability-specific parameters for this delegator, which override the defaults",
            "example": {
              "AMOUNT": "1000000000000000000"
            }
          }
        },
        "required": [
          "delegatorAddress",
          "abilityParams"
        ]
      },
      "ExecuteBatchAbilityRequest": {
        "type": "object",
        "properties": {
          "delegateePrivateKey": {
            "type": "string",
            "description": "Private key of the delegatee (app PKP). Used to derive the app ID automatically.",
            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
          },
          "defaults": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                }
              ]
            },
            "description": "Default parameters for the ability execution that apply to all delegators unless overridden",
            "example": {
              "ORIGIN_CHAIN_ID": 8453,
              "DESTINATION_CHAIN_ID": 8453,
              "ORIGIN_CURRENCY": "0x0000000000000000000000000000000000000000",
              "DESTINATION_CURRENCY": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "TRADE_TYPE": "EXACT_INPUT"
            }
          },
          "delegators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchDelegator"
            },
            "minItems": 1,
            "description": "Array of delegators to execute the ability for"
          }
        },
        "required": [
          "delegateePrivateKey",
          "delegators"
        ]
      },
      "DelegatorExecutionResultSuccess": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "transactionHash": {
            "type": "string",
            "description": "Transaction hash of the executed UserOperation",
            "example": "0xabc123..."
          },
          "userOpHash": {
            "type": "string",
            "description": "UserOperation hash",
            "example": "0xdef456..."
          }
        },
        "required": [
          "success",
          "transactionHash",
          "userOpHash"
        ]
      },
      "DelegatorExecutionResultFailure": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "string",
            "description": "Error message describing why the execution failed",
            "example": "Precheck failed: Insufficient balance"
          }
        },
        "required": [
          "success",
          "error"
        ]
      },
      "DelegatorExecutionResult": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/DelegatorExecutionResultSuccess"
          },
          {
            "$ref": "#/components/schemas/DelegatorExecutionResultFailure"
          }
        ]
      },
      "ExecuteBatchAbilityResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DelegatorExecutionResult"
            },
            "description": "Map of delegator addresses to their execution results",
            "example": {
              "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb": {
                "success": true,
                "transactionHash": "0xabc123...",
                "userOpHash": "0xdef456..."
              },
              "0x1234567890123456789012345678901234567890": {
                "success": false,
                "error": "Precheck failed: Insufficient balance"
              }
            }
          }
        },
        "required": [
          "results"
        ]
      },
      "AbilityCreate": {
        "type": "object",
        "properties": {
          "activeVersion": {
            "type": "string",
            "description": "Active version of the ability",
            "example": "1.0.0"
          },
          "title": {
            "type": "string",
            "minLength": 2,
            "description": "Ability title - displayed to users in the dashboard/Vincent Explorer UI",
            "example": "ERC20 Approval Ability"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Ability description - displayed to users in the dashboard/Vincent Explorer UI",
            "example": "An ability that manages ERC20 approvals for PKPs. Facilitates vincent-uniswap-swap-ability usage."
          },
          "deploymentStatus": {
            "type": "string",
            "enum": [
              "dev",
              "test",
              "prod"
            ],
            "default": "dev",
            "description": "Identifies if an ability is in development, test, or production.",
            "example": "dev"
          },
          "logo": {
            "type": "string",
            "description": "Base64 encoded logo image",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAAA5JREFUGFdj/M+ACAAAAAD//wE7AnsAAAAAAElFTkSuQmCC"
          }
        },
        "required": [
          "activeVersion",
          "title",
          "description"
        ],
        "additionalProperties": false
      },
      "AbilityEdit": {
        "type": "object",
        "properties": {
          "activeVersion": {
            "type": "string",
            "description": "Active version of the ability",
            "example": "1.0.0"
          },
          "title": {
            "type": "string",
            "minLength": 2,
            "description": "Ability title - displayed to users in the dashboard/Vincent Explorer UI",
            "example": "ERC20 Approval Ability"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Ability description - displayed to users in the dashboard/Vincent Explorer UI",
            "example": "An ability that manages ERC20 approvals for PKPs. Facilitates vincent-uniswap-swap-ability usage."
          },
          "deploymentStatus": {
            "type": "string",
            "enum": [
              "dev",
              "test",
              "prod"
            ],
            "description": "Identifies if an ability is in development, test, or production.",
            "example": "dev"
          },
          "logo": {
            "type": "string",
            "description": "Base64 encoded logo image",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAAA5JREFUGFdj/M+ACAAAAAD//wE7AnsAAAAAAElFTkSuQmCC"
          }
        },
        "additionalProperties": false
      },
      "Ability": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was last modified"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was created"
          },
          "packageName": {
            "type": "string",
            "description": "Ability NPM package name",
            "example": "@lit-protocol/vincent-erc20-approval-ability"
          },
          "title": {
            "type": "string",
            "minLength": 2,
            "description": "Ability title - displayed to users in the dashboard/Vincent Explorer UI",
            "example": "ERC20 Approval Ability"
          },
          "authorWalletAddress": {
            "type": "string",
            "description": "Author wallet address. Derived from the authorization signature provided by the creator.",
            "example": "0x123456789012345678901234567890123456abcd",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Ability description - displayed to users in the dashboard/Vincent Explorer UI",
            "example": "An ability that manages ERC20 approvals for PKPs. Facilitates vincent-uniswap-swap-ability usage."
          },
          "logo": {
            "type": "string",
            "description": "Base64 encoded logo image",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAAA5JREFUGFdj/M+ACAAAAAD//wE7AnsAAAAAAElFTkSuQmCC"
          },
          "activeVersion": {
            "type": "string",
            "description": "Active version of the ability",
            "example": "1.0.0"
          },
          "deploymentStatus": {
            "type": "string",
            "enum": [
              "dev",
              "test",
              "prod"
            ],
            "description": "Identifies if an ability is in development, test, or production.",
            "example": "dev"
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Whether or not this Ability is deleted",
            "example": false
          }
        },
        "required": [
          "_id",
          "updatedAt",
          "createdAt",
          "packageName",
          "title",
          "authorWalletAddress",
          "description",
          "activeVersion"
        ],
        "additionalProperties": false
      },
      "AbilityVersionCreate": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "string",
            "minLength": 10,
            "description": "Changelog information for this version",
            "example": "Ensure commit() is run on spending policy limit for users who have it enabled."
          }
        },
        "required": [
          "changes"
        ],
        "additionalProperties": false
      },
      "AbilityVersionEdit": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "string",
            "minLength": 10,
            "description": "Changelog information for this version",
            "example": "Ensure commit() is run on spending policy limit for users who have it enabled."
          }
        },
        "required": [
          "changes"
        ],
        "additionalProperties": false
      },
      "AbilityVersion": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was last modified"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was created"
          },
          "packageName": {
            "type": "string",
            "description": "Ability NPM package name",
            "example": "@lit-protocol/vincent-erc20-approval-ability"
          },
          "version": {
            "type": "string",
            "description": "Ability version - must be an exact semver.",
            "example": "1.0.0"
          },
          "changes": {
            "type": "string",
            "minLength": 10,
            "description": "Changelog information for this version",
            "example": "Ensure commit() is run on spending policy limit for users who have it enabled."
          },
          "repository": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Repository URLs"
          },
          "description": {
            "type": "string",
            "description": "Policy description",
            "example": "This policy is a foo bar policy"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Keywords for the policy",
            "example": [
              "defi",
              "memecoin"
            ]
          },
          "dependencies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dependencies of the policy"
          },
          "author": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the author",
                "example": "Developer Name"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email of the author",
                "example": "contact@example.com"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "URL of the author's website",
                "example": "https://example.com"
              }
            },
            "required": [
              "name",
              "email"
            ],
            "description": "Author information"
          },
          "contributors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the contributor",
                  "example": "Contributor Name"
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "Email of the contributor",
                  "example": "contributor@example.com"
                },
                "url": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL of the contributor's website",
                  "example": "https://contributor-site.example.com"
                }
              },
              "required": [
                "name",
                "email"
              ]
            },
            "description": "Contributors information"
          },
          "homepage": {
            "type": "string",
            "format": "uri",
            "description": "Policy homepage",
            "example": "https://example-vincent-homepage.com"
          },
          "supportedPolicies": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Supported policies. These are detected from 'dependencies' in the ability's package.json.",
            "example": {
              "@lit-protocol/vincent-spending-limit-policy": "1.0.0",
              "@lit-protocol/vincent-rate-limit-policy": "0.0.1"
            },
            "readOnly": true
          },
          "ipfsCid": {
            "type": "string",
            "description": "IPFS CID of the code that implements this ability.",
            "example": "QmdoY1VUxVvxShBQK5B6PP2jZFVw7PMTJ3qy2aiCARjMqo",
            "readOnly": true
          },
          "policiesNotInRegistry": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Policy versions that are not in the registry but are supported by this ability",
            "example": [
              "@lit-protocol/vincent-spending-limit-policy@1.0.1"
            ],
            "readOnly": true
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Whether or not this AbilityVersion is deleted",
            "example": false
          }
        },
        "required": [
          "_id",
          "updatedAt",
          "createdAt",
          "packageName",
          "version",
          "changes",
          "repository",
          "description",
          "keywords",
          "dependencies",
          "author",
          "contributors",
          "supportedPolicies",
          "ipfsCid",
          "policiesNotInRegistry"
        ],
        "additionalProperties": false
      },
      "PolicyCreate": {
        "type": "object",
        "properties": {
          "activeVersion": {
            "type": "string",
            "description": "Active version of the policy; must be an exact semver",
            "example": "1.0.0"
          },
          "title": {
            "type": "string",
            "minLength": 2,
            "description": "Policy title for displaying to users in the dashboard/Vincent Explorer UI",
            "example": "Vincent Spending Limit Policy"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Policy description - displayed to users in the dashboard/Vincent Explorer UI",
            "example": "This policy is a foo bar policy"
          },
          "deploymentStatus": {
            "type": "string",
            "enum": [
              "dev",
              "test",
              "prod"
            ],
            "default": "dev",
            "description": "Identifies if a policy is in development, test, or production.",
            "example": "dev"
          },
          "logo": {
            "type": "string",
            "description": "Base64 encoded logo image",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAAA5JREFUGFdj/M+ACAAAAAD//wE7AnsAAAAAAElFTkSuQmCC"
          }
        },
        "required": [
          "activeVersion",
          "title",
          "description"
        ],
        "additionalProperties": false
      },
      "PolicyEdit": {
        "type": "object",
        "properties": {
          "activeVersion": {
            "type": "string",
            "description": "Active version of the policy; must be an exact semver",
            "example": "1.0.0"
          },
          "title": {
            "type": "string",
            "minLength": 2,
            "description": "Policy title for displaying to users in the dashboard/Vincent Explorer UI",
            "example": "Vincent Spending Limit Policy"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Policy description - displayed to users in the dashboard/Vincent Explorer UI",
            "example": "This policy is a foo bar policy"
          },
          "deploymentStatus": {
            "type": "string",
            "enum": [
              "dev",
              "test",
              "prod"
            ],
            "description": "Identifies if a policy is in development, test, or production.",
            "example": "dev"
          },
          "logo": {
            "type": "string",
            "description": "Base64 encoded logo image",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAAA5JREFUGFdj/M+ACAAAAAD//wE7AnsAAAAAAElFTkSuQmCC"
          }
        },
        "additionalProperties": false
      },
      "Policy": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was last modified"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was created"
          },
          "packageName": {
            "type": "string",
            "description": "Policy NPM package name",
            "example": "@lit-protocol/vincent-policy-spending-limit"
          },
          "authorWalletAddress": {
            "type": "string",
            "description": "Author wallet address. Derived from the authorization signature provided by the creator.",
            "example": "0x123456789012345678901234567890123456abcd",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "description": "Policy description - displayed to users in the dashboard/Vincent Explorer UI",
            "example": "This policy is a foo bar policy"
          },
          "logo": {
            "type": "string",
            "description": "Base64 encoded logo image",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAAA5JREFUGFdj/M+ACAAAAAD//wE7AnsAAAAAAElFTkSuQmCC"
          },
          "activeVersion": {
            "type": "string",
            "description": "Active version of the policy; must be an exact semver",
            "example": "1.0.0"
          },
          "title": {
            "type": "string",
            "minLength": 2,
            "description": "Policy title for displaying to users in the dashboard/Vincent Explorer UI",
            "example": "Vincent Spending Limit Policy"
          },
          "deploymentStatus": {
            "type": "string",
            "enum": [
              "dev",
              "test",
              "prod"
            ],
            "description": "Identifies if a policy is in development, test, or production.",
            "example": "dev"
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Whether or not this Policy is deleted",
            "example": false
          }
        },
        "required": [
          "_id",
          "updatedAt",
          "createdAt",
          "packageName",
          "authorWalletAddress",
          "description",
          "activeVersion",
          "title"
        ],
        "additionalProperties": false
      },
      "PolicyVersionCreate": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "string",
            "description": "Changelog information for this version",
            "example": "Resolved issue with checking for spending limits on the wrong chain."
          }
        },
        "required": [
          "changes"
        ],
        "additionalProperties": false
      },
      "PolicyVersionEdit": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "string",
            "description": "Changelog information for this version",
            "example": "Resolved issue with checking for spending limits on the wrong chain."
          }
        },
        "required": [
          "changes"
        ],
        "additionalProperties": false
      },
      "PolicyVersion": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Document ID",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was last modified"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this was created"
          },
          "packageName": {
            "type": "string",
            "description": "Policy NPM package name",
            "example": "@lit-protocol/vincent-policy-spending-limit"
          },
          "version": {
            "type": "string",
            "description": "Policy version - must be an exact semver",
            "example": "1.0.0"
          },
          "changes": {
            "type": "string",
            "description": "Changelog information for this version",
            "example": "Resolved issue with checking for spending limits on the wrong chain."
          },
          "repository": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Repository URLs"
          },
          "description": {
            "type": "string",
            "description": "Policy description",
            "example": "This policy is a foo bar policy"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Keywords for the policy",
            "example": [
              "defi",
              "memecoin"
            ]
          },
          "dependencies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dependencies of the policy"
          },
          "author": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the author",
                "example": "Developer Name"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email of the author",
                "example": "contact@example.com"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "URL of the author's website",
                "example": "https://example.com"
              }
            },
            "required": [
              "name",
              "email"
            ],
            "description": "Author information"
          },
          "contributors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the contributor",
                  "example": "Contributor Name"
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "Email of the contributor",
                  "example": "contributor@example.com"
                },
                "url": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL of the contributor's website",
                  "example": "https://contributor-site.example.com"
                }
              },
              "required": [
                "name",
                "email"
              ]
            },
            "description": "Contributors information"
          },
          "homepage": {
            "type": "string",
            "format": "uri",
            "description": "Policy homepage",
            "example": "https://example-vincent-homepage.com"
          },
          "ipfsCid": {
            "type": "string",
            "description": "IPFS CID of the code that implements this policy.",
            "example": "QmdoY1VUxVvxShBQK5B6PP2jZFVw7PMTJ3qy2aiCARjMqo",
            "readOnly": true
          },
          "parameters": {
            "type": "object",
            "properties": {
              "uiSchema": {
                "type": "string",
                "description": "UI Schema for parameter display",
                "example": "{\"type\":\"object\",\"properties\":{}}"
              },
              "jsonSchema": {
                "type": "string",
                "description": "JSON Schema for parameter validation",
                "example": "{\"type\":\"object\",\"required\":[],\"properties\":{}}"
              }
            },
            "required": [
              "uiSchema",
              "jsonSchema"
            ],
            "description": "Schema parameters",
            "readOnly": true
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Whether or not this PolicyVersion is deleted",
            "example": false
          }
        },
        "required": [
          "_id",
          "updatedAt",
          "createdAt",
          "packageName",
          "version",
          "changes",
          "repository",
          "description",
          "keywords",
          "dependencies",
          "author",
          "contributors",
          "ipfsCid"
        ],
        "additionalProperties": false
      },
      "InstallAppRequest": {
        "type": "object",
        "properties": {
          "userControllerAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "EOA address that controls the user smart wallet",
            "example": "0x123456789012345678901234567890123456abcd"
          },
          "sponsorGas": {
            "type": "boolean",
            "description": "If true (default), returns EIP2771 typed data for sponsored gas relay. If false, returns raw transaction data for direct EOA submission (user pays gas).",
            "example": true
          }
        },
        "required": [
          "userControllerAddress"
        ],
        "additionalProperties": false
      },
      "InstallAppResponse": {
        "type": "object",
        "properties": {
          "agentSignerAddress": {
            "type": "string",
            "description": "The PKP address that the app will use to sign things",
            "example": "0x123456789012345678901234567890123456abcd"
          },
          "agentSmartAccountAddress": {
            "type": "string",
            "description": "The smart account address calculated from the PKP address, used on the frontend to verify they get the same smart wallet address",
            "example": "0x123456789012345678901234567890123456abcd"
          },
          "appInstallationDataToSign": {
            "type": "object",
            "properties": {
              "chainId": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "description": "Chain ID where the transaction will be executed",
                "example": 84532
              },
              "target": {
                "type": "string",
                "description": "Target contract address",
                "example": "0x1234567890123456789012345678901234567890"
              },
              "data": {
                "type": "string",
                "description": "Encoded function call data",
                "example": "0x..."
              },
              "user": {
                "type": "string",
                "description": "User address that will sign the typed data",
                "example": "0x123456789012345678901234567890123456abcd"
              },
              "userNonce": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "description": "User nonce for replay protection",
                "example": "0"
              },
              "userDeadline": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "description": "Deadline timestamp for the transaction",
                "example": "1234567890"
              }
            },
            "required": [
              "chainId",
              "target",
              "data",
              "user",
              "userNonce",
              "userDeadline"
            ],
            "description": "The EIP2771 TypedData to sign for permitAppVersion via Gelato relay (gas-sponsored). Contains the transaction details for permitting the app version on the Vincent registry."
          },
          "agentSmartAccountDeploymentDataToSign": {
            "type": "object",
            "properties": {
              "messageToSign": {
                "type": "string",
                "description": "Hex-encoded message hash to sign for UserOperation",
                "example": "0x1234..."
              },
              "userOperation": {
                "type": "object",
                "properties": {
                  "sender": {
                    "type": "string",
                    "description": "Smart account address",
                    "example": "0x123456789012345678901234567890123456abcd"
                  },
                  "nonce": {
                    "type": "string",
                    "description": "Account nonce as string",
                    "example": "0"
                  },
                  "factory": {
                    "type": "string",
                    "description": "Factory address for account deployment",
                    "example": "0x1234567890123456789012345678901234567890"
                  },
                  "factoryData": {
                    "type": "string",
                    "description": "Factory calldata for deployment",
                    "example": "0x..."
                  },
                  "callData": {
                    "type": "string",
                    "description": "Calldata for the account to execute",
                    "example": "0x..."
                  },
                  "callGasLimit": {
                    "type": "string",
                    "description": "Gas limit for the call",
                    "example": "100000"
                  },
                  "verificationGasLimit": {
                    "type": "string",
                    "description": "Gas limit for verification",
                    "example": "100000"
                  },
                  "preVerificationGas": {
                    "type": "string",
                    "description": "Gas for pre-verification",
                    "example": "50000"
                  },
                  "maxFeePerGas": {
                    "type": "string",
                    "description": "Maximum fee per gas",
                    "example": "1000000000"
                  },
                  "maxPriorityFeePerGas": {
                    "type": "string",
                    "description": "Maximum priority fee per gas",
                    "example": "1000000000"
                  },
                  "paymaster": {
                    "type": "string",
                    "description": "Paymaster address",
                    "example": "0x1234567890123456789012345678901234567890"
                  },
                  "paymasterVerificationGasLimit": {
                    "type": "string",
                    "description": "Gas limit for paymaster verification",
                    "example": "100000"
                  },
                  "paymasterPostOpGasLimit": {
                    "type": "string",
                    "description": "Gas limit for paymaster post-op",
                    "example": "50000"
                  },
                  "paymasterData": {
                    "type": "string",
                    "description": "Paymaster-specific data",
                    "example": "0x"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Signature placeholder",
                    "example": "0x"
                  }
                },
                "required": [
                  "sender",
                  "nonce",
                  "callData",
                  "callGasLimit",
                  "verificationGasLimit",
                  "preVerificationGas",
                  "maxFeePerGas",
                  "maxPriorityFeePerGas"
                ],
                "description": "Complete UserOperation object that will be submitted with the signature"
              }
            },
            "required": [
              "messageToSign",
              "userOperation"
            ],
            "description": "Data for signing the smart account deployment UserOperation. Contains messageToSign (hex hash) and the complete userOperation object that will be submitted with the signature."
          },
          "sessionKeyApprovalDataToSign": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  },
                  "chainId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "verifyingContract": {
                    "type": "string"
                  },
                  "salt": {
                    "type": "string"
                  }
                },
                "description": "EIP-712 domain"
              },
              "types": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "type"
                    ]
                  }
                },
                "description": "EIP-712 type definitions"
              },
              "primaryType": {
                "type": "string",
                "description": "Primary type name"
              },
              "message": {
                "type": "string",
                "description": "Message to sign"
              }
            },
            "required": [
              "types",
              "message"
            ],
            "description": "EIP-712 TypedData for session key approval. This enables the PKP signer to act on behalf of the smart account by granting it permission to execute transactions."
          },
          "alreadyInstalled": {
            "type": "boolean",
            "description": "True if the app is already installed for this user. If true, the typed data fields will be undefined."
          }
        },
        "required": [
          "agentSignerAddress",
          "agentSmartAccountAddress"
        ],
        "additionalProperties": false
      },
      "CompleteInstallationRequest": {
        "type": "object",
        "properties": {
          "userControllerAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "EOA address that controls the user smart wallet",
            "example": "0x123456789012345678901234567890123456abcd"
          },
          "agentSignerAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "The PKP address that will be used as the agent signer",
            "example": "0x123456789012345678901234567890123456abcd"
          },
          "appInstallation": {
            "type": "object",
            "properties": {
              "typedDataSignature": {
                "type": "string",
                "description": "The signature of the EIP2771 typed data",
                "example": "0x..."
              },
              "dataToSign": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                },
                "description": "The original EIP2771 typed data that was signed"
              }
            },
            "required": [
              "typedDataSignature",
              "dataToSign"
            ],
            "additionalProperties": false,
            "description": "Signed EIP2771 typed data for permitAppVersion transaction"
          },
          "agentSmartAccountDeployment": {
            "type": "object",
            "properties": {
              "typedDataSignature": {
                "type": "string",
                "description": "The signature of the UserOperation message hash",
                "example": "0x..."
              },
              "userOperation": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "object",
                      "properties": {}
                    }
                  ]
                },
                "description": "The UserOperation that was signed for smart account deployment"
              }
            },
            "required": [
              "typedDataSignature",
              "userOperation"
            ],
            "additionalProperties": false,
            "description": "Signed UserOperation for smart account deployment"
          },
          "sessionKeyApproval": {
            "type": "object",
            "properties": {
              "typedDataSignature": {
                "type": "string",
                "description": "The signature of the session key approval EIP-712 typed data",
                "example": "0x..."
              }
            },
            "required": [
              "typedDataSignature"
            ],
            "additionalProperties": false,
            "description": "Signed permission account data for session key approval"
          }
        },
        "required": [
          "userControllerAddress",
          "agentSignerAddress",
          "appInstallation",
          "agentSmartAccountDeployment",
          "sessionKeyApproval"
        ],
        "additionalProperties": false
      },
      "CompleteInstallationResponse": {
        "type": "object",
        "properties": {
          "deployAgentSmartAccountTransactionHash": {
            "type": "string",
            "description": "Transaction hash for smart account deployment",
            "example": "0x9d260d1bbe075be0cda52a3271df062748f3182ede91b3aae5cd115f7b26552b"
          },
          "serializedPermissionAccount": {
            "type": "string",
            "description": "Serialized permission account that can be used by the PKP to sign transactions. The permission plugin will be automatically enabled on-chain when the PKP submits its first UserOperation.",
            "example": "{\"accountAddress\":\"0x...\",\"permissionParams\":{...}}"
          },
          "completeAppInstallationTransactionHash": {
            "type": "string",
            "description": "Transaction hash for permitAppVersion (app installation completion)",
            "example": "0x9d260d1bbe075be0cda52a3271df062748f3182ede91b3aae5cd115f7b26552b"
          }
        },
        "required": [
          "deployAgentSmartAccountTransactionHash",
          "serializedPermissionAccount",
          "completeAppInstallationTransactionHash"
        ],
        "additionalProperties": false
      },
      "GetAgentAccountRequest": {
        "type": "object",
        "properties": {
          "userControllerAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "EOA address that controls the user smart wallet",
            "example": "0x123456789012345678901234567890123456abcd"
          }
        },
        "required": [
          "userControllerAddress"
        ],
        "additionalProperties": false
      },
      "GetAgentAccountResponse": {
        "type": "object",
        "properties": {
          "agentAddress": {
            "type": "string",
            "nullable": true,
            "description": "The agent smart account address if registered, or null if the agent does not exist",
            "example": "0x123456789012345678901234567890123456abcd"
          }
        },
        "required": [
          "agentAddress"
        ],
        "additionalProperties": false
      },
      "UninstallAppRequest": {
        "type": "object",
        "properties": {
          "appVersion": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "The version of the app to uninstall",
            "example": 1
          },
          "userControllerAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "EOA address that controls the user smart wallet",
            "example": "0x123456789012345678901234567890123456abcd"
          },
          "sponsorGas": {
            "type": "boolean",
            "description": "If true (default), returns EIP2771 typed data for sponsored gas relay. If false, returns raw transaction data for direct EOA submission (user pays gas).",
            "example": true
          }
        },
        "required": [
          "appVersion",
          "userControllerAddress"
        ],
        "additionalProperties": false
      },
      "UninstallAppResponse": {
        "type": "object",
        "properties": {
          "rawTransaction": {
            "type": "object",
            "properties": {
              "to": {
                "type": "string",
                "description": "The target contract address",
                "example": "0x1234567890123456789012345678901234567890"
              },
              "data": {
                "type": "string",
                "description": "The encoded transaction data",
                "example": "0x..."
              }
            },
            "required": [
              "to",
              "data"
            ],
            "additionalProperties": false,
            "description": "Raw transaction data for direct EOA submission. Present when sponsorGas=false."
          },
          "uninstallDataToSign": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "object",
                  "properties": {}
                }
              ]
            },
            "description": "The EIP2771 TypedData to sign for sponsored gas relay. Present when sponsorGas=true (default)."
          }
        },
        "additionalProperties": false
      },
      "CompleteUninstallRequest": {
        "type": "object",
        "properties": {
          "typedDataSignature": {
            "type": "string",
            "description": "The signature of the typed data from the user wallet",
            "example": "0x..."
          },
          "uninstallDataToSign": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "object",
                  "properties": {}
                }
              ]
            },
            "description": "The uninstallDataToSign object returned from uninstall-app. Generated by the Gelato SDK."
          }
        },
        "required": [
          "typedDataSignature",
          "uninstallDataToSign"
        ],
        "additionalProperties": false
      },
      "CompleteUninstallResponse": {
        "type": "object",
        "properties": {
          "transactionHash": {
            "type": "string",
            "description": "The transaction hash of the completed uninstall transaction",
            "example": "0x9d260d1bbe075be0cda52a3271df062748f3182ede91b3aae5cd115f7b26552b"
          }
        },
        "required": [
          "transactionHash"
        ],
        "additionalProperties": false
      },
      "GetAgentFundsRequest": {
        "type": "object",
        "properties": {
          "userControllerAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "The Ethereum address of the user controller wallet",
            "example": "0x123456789012345678901234567890123456abcd"
          },
          "networks": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Networks to query for token balances",
            "example": [
              "base-mainnet",
              "base-sepolia"
            ]
          }
        },
        "required": [
          "userControllerAddress",
          "networks"
        ],
        "additionalProperties": false
      },
      "GetAgentFundsResponse": {
        "type": "object",
        "properties": {
          "agentAddress": {
            "type": "string",
            "description": "The derived agent smart account address",
            "example": "0x123456789012345678901234567890123456abcd"
          },
          "tokens": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "Wallet address that holds the token"
                },
                "network": {
                  "type": "string",
                  "description": "Network identifier",
                  "example": "base-mainnet"
                },
                "tokenAddress": {
                  "type": "string",
                  "description": "Token contract address"
                },
                "tokenBalance": {
                  "type": "string",
                  "description": "Token balance in wei/smallest unit"
                },
                "tokenMetadata": {
                  "type": "object",
                  "properties": {
                    "decimals": {
                      "type": "number",
                      "description": "Token decimals",
                      "example": 18
                    },
                    "logo": {
                      "type": "string",
                      "nullable": true,
                      "description": "Token logo URL"
                    },
                    "name": {
                      "type": "string",
                      "description": "Token name",
                      "example": "USD Coin"
                    },
                    "symbol": {
                      "type": "string",
                      "description": "Token symbol",
                      "example": "USDC"
                    }
                  },
                  "required": [
                    "decimals",
                    "logo",
                    "name",
                    "symbol"
                  ],
                  "additionalProperties": false
                },
                "tokenPrices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "Price currency",
                        "example": "usd"
                      },
                      "value": {
                        "type": "string",
                        "description": "Price value",
                        "example": "1.00"
                      },
                      "lastUpdatedAt": {
                        "type": "string",
                        "description": "Last price update timestamp",
                        "example": "2024-01-01T00:00:00Z"
                      }
                    },
                    "required": [
                      "currency",
                      "value",
                      "lastUpdatedAt"
                    ],
                    "additionalProperties": false
                  }
                },
                "error": {
                  "type": "string",
                  "nullable": true,
                  "description": "Error message if applicable"
                }
              },
              "required": [
                "address",
                "network",
                "tokenAddress",
                "tokenBalance"
              ],
              "additionalProperties": false
            },
            "description": "List of tokens held by the agent"
          },
          "pageKey": {
            "type": "string",
            "description": "Pagination key for fetching more results"
          }
        },
        "required": [
          "agentAddress",
          "tokens"
        ],
        "additionalProperties": false
      },
      "AppList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/App"
        }
      },
      "AppVersionList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AppVersion"
        }
      },
      "AppVersionAbilityList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AppVersionAbility"
        }
      },
      "AbilityList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Ability"
        }
      },
      "AbilityVersionList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AbilityVersion"
        }
      },
      "PolicyList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Policy"
        }
      },
      "PolicyVersionList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PolicyVersion"
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/apps": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Lists all applications",
        "operationId": "listApps",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppList"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app": {
      "post": {
        "tags": [
          "App",
          "AppVersion"
        ],
        "summary": "Creates a new application",
        "operationId": "createApp",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Developer-defined application information",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Fetches an application",
        "operationId": "getApp",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "404": {
            "description": "Application not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "App"
        ],
        "summary": "Edits an application",
        "operationId": "editApp",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Developer-defined updated application details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "App",
          "AppVersion",
          "AppVersionAbility"
        ],
        "summary": "Deletes an application",
        "operationId": "deleteApp",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResultMessage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/undelete": {
      "post": {
        "tags": [
          "App",
          "AppVersion",
          "AppVersionAbility"
        ],
        "summary": "Undeletes an application",
        "operationId": "undeleteApp",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource successfully undeleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResultMessage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/versions": {
      "get": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Fetches all versions of an application",
        "operationId": "getAppVersions",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersionList"
                }
              }
            }
          },
          "404": {
            "description": "Application not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/version": {
      "post": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Creates an application version",
        "operationId": "createAppVersion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Developer-defined version details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppVersionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/version/{version}": {
      "get": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Fetches an application version",
        "operationId": "getAppVersion",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "version",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersion"
                }
              }
            }
          },
          "404": {
            "description": "Application not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Edits an application version",
        "operationId": "editAppVersion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "version",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Update version changes field",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppVersionEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Deletes an application version",
        "operationId": "deleteAppVersion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "version",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResultMessage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Application or version not found"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/version/{version}/enable": {
      "post": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Enables an application version",
        "operationId": "enableAppVersion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "version",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/version/{version}/disable": {
      "post": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Disables an application version",
        "operationId": "disableAppVersion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "version",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/version/{version}/abilities": {
      "get": {
        "tags": [
          "AppVersionAbility"
        ],
        "summary": "Lists all abilities for an application version",
        "operationId": "listAppVersionAbilities",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "version",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersionAbilityList"
                }
              }
            }
          },
          "404": {
            "description": "Application or version not found"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/version/{appVersion}/ability/{abilityPackageName}": {
      "post": {
        "tags": [
          "AppVersionAbility"
        ],
        "summary": "Creates an ability for an application version",
        "operationId": "createAppVersionAbility",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "appVersion",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The NPM package name",
            "example": "@vincent/foo-bar",
            "name": "abilityPackageName",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Ability configuration for the application version",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppVersionAbilityCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersionAbility"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AppVersionAbility"
        ],
        "summary": "Edits an ability for an application version",
        "operationId": "editAppVersionAbility",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "appVersion",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The NPM package name",
            "example": "@vincent/foo-bar",
            "name": "abilityPackageName",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Updated ability configuration for the application version",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppVersionAbilityEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersionAbility"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Application, version, or ability not found"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AppVersionAbility"
        ],
        "summary": "Deletes an ability for an application version",
        "operationId": "deleteAppVersionAbility",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "appVersion",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The NPM package name",
            "example": "@vincent/foo-bar",
            "name": "abilityPackageName",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResultMessage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Application, version, or ability not found"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/version/{version}/undelete": {
      "post": {
        "tags": [
          "AppVersion"
        ],
        "summary": "Undeletes an application version",
        "operationId": "undeleteAppVersion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "version",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource successfully undeleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResultMessage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Application or version not found"
          },
          "422": {
            "description": "Validation exception"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appId}/version/{appVersion}/ability/{abilityPackageName}/undelete": {
      "post": {
        "tags": [
          "AppVersionAbility"
        ],
        "summary": "Undeletes an ability for an application version",
        "operationId": "undeleteAppVersionAbility",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "ID of the target application",
            "example": 132,
            "name": "appId",
            "in": "path"
          },
          {
            "schema": {
              "type": "number"
            },
            "required": true,
            "description": "Version # of the target application version",
            "example": 3,
            "name": "appVersion",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The NPM package name",
            "example": "@vincent/foo-bar",
            "name": "abilityPackageName",
[...]
