@font-face {
  font-family: 'Glacial Indifference';
  src: url('GlacialIndifference-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  size-adjust: 115%;
}
